@import "tailwindcss";
@theme{
    --font-display: "Satoshi", sans-serif;
}

:root{
    --tw-bg-opacity: 15;
    --text-white-about: #ffffff;
    --tw-traslate-y: 0;
}

.no-data {
    margin: 30px;
}

.section-about {
    display: grid;
    justify-content: center;
    background-color: #140026;
    padding: 50px;
    position: relative;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(30, 30, 30, 0) 70%),
        url("../assets/images/grid.svg");
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: soft-light;
}
.section-about,
.grid p {
    font-family: __Fira_Code_74c79e, monospace;
}

.profile h2 {
    font-family: __Fira_Code_74c79e, monospace;
}
.section-about div {
    color: var(--color-font-text);
}


.section-about h2 {
    font-size: 2rem;
    color: var(--text-white-about);
    margin-bottom: 1rem;
}
.-translate-y-1\/2 {
    t--tw-translate-y: -50%;
}