.section-about {
    display: grid;
    justify-content: center;
    background: #0C1115FF;
    padding: 50px;
}

.section-about h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}
