@import "tailwindcss";
:root {
    --color-text: #ffffff;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

.section{
    display: grid;
    background: radial-gradient(circle at top center,#0f151a 30%,#000 80%);

}

.profile{



}