@import "tailwindcss";
:root{
    --tw-bg-opacity: 1;
}
input::placeholder,
textarea::placeholder {
    font-size: 15px;
    padding: 9px;
    color: var(--color-font-text);

}

form{
    display: grid;
    gap: 10px;
    margin: 5px;
    color: var(--color-font-text);

}
button{
    margin: 20px 0;
    height: 30px;

}
.section-contact {
    display: grid;
    justify-content: center;
    background-color: hsl(251.25deg 31.37% 20%);
    padding-top: 1rem;

}


.section-contact h2 {
    color: var(--color-font-text);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.submit-contact {
    background: #fc88b2;
}
.submit-contact:hover {
    text-decoration: none;
    background: #9d589a;
}