@import "tailwindcss";
:root {
    --tw-bg-opacity: 1;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}
.section-jobs {
    display: grid;
    justify-content: center;
    background-color: rgb(22 24 29 / var(--tw-bg-opacity));
}

.container {
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto;
}
.flex-item{
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}
.flex-item h2 {
    font-size: 2rem;
    padding: 20px;
}
.flex-item span{
    font-size: 23px;
    font-weight: bold;
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


.section h2,h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-font-text);
}