@import "tailwindcss";
:root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
}
html {
    scroll-behavior: smooth;
}
.section-projects {
    display: grid;
    justify-content: center;
    background-color: hsl(246deg 30.3% 12.94%);
    padding: 20px;
}

/* Articles.css */
.testimonial-section {
    max-width: 1200px;
    margin: 0 auto;  /* Cambiado de 40px auto a 0 auto */
    /* padding: 0 20px; Modificado para mantener padding horizontal */
}

.section-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-font-text);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px 0; /* Cambiado a solo padding vertical */
    color: var(--color-font-text);
}

.testimonial-card {
    border-radius: 15px;
    padding: 25px;
    /*box-shadow: 0 4px 15px rgb(40, 40, 40);*/
    /*border: rgba(85, 234, 163, 0.37) 2px solid;*/
    transition: transform 0.3s ease;
    background: #292343;

}

.testimonial-card:hover {
    transform: translateY(-5px);
}
.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-info {
    flex-grow: 1;
}

.profile-name {
    font-weight: 600;
    margin-bottom: 5px;
    font-family: __Fira_Code_74c79e, monospace;
}

.profile-role {
    font-size: 0.9rem;
    color: #ff89fb;
    font-family: __Fira_Code_74c79e, monospace;
}

.quote-icon {
    color: rgb(88 196 220 / var(--tw-text-opacity));
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.testimonial-text {
    display: grid;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: __Fira_Code_74c79e, monospace;
    text-align: justify;
}

.project-name {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: __Fira_Code_74c79e, monospace;
    background: #fc88b2;
    border-radius: 8px;
    color: white;
    padding: 5px;
    width: 30%;
    text-align: center;
    transition: transform 4s ease;

}
.project-name:hover {
    text-decoration: none;
    background: #9d589a;


}

@media (max-width: 768px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .testimonial-section {
        padding: 0 15px;
    }

    .section-title {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
}